{% extends "::base.html.twig" %}

{% block title %}TradeServeAppBundle:Dispatch:index{% endblock %}

{% block body %}
    <h1>Welcome to the Dispatch:index page</h1>

    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }}</li>
        {% else %}
            <li>No customers found</li>
        {% endfor %}
    </ul>
{% endblock %}
