/* *************** */
/*      Login      */
/* *************** */
body {

  color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  padding-bottom: 100px; }

.single-container {
  left: 0;
  margin-top: -300px;
  position: absolute;
  top: 50%;
  width: 100%; }

.login-screen {
  margin-top: -250px; }

.register-screen {
  margin-top: -300px; }

.sign-widget-title {
  box-sizing: content-box;
  color: #666;
  padding: 0px 0px 20px 0px;
  position: relative;
  padding-bottom: 0;
  width: 350px;
  margin: 0 auto 20px;
  text-align: center; }
  .sign-widget-title h1 {
    font-weight: 900; }
  .sign-widget-title h4 {
    margin-top: -10px; }

.sign-widget {
  border-radius: 3px;
  box-sizing: content-box;
  color: #666;
  margin-bottom: 30px;
  padding: 12px 17px;
  position: relative;
  border: 1px solid #CCC;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  padding-bottom: 0;
  width: 350px;
  margin: 0 auto;
  text-align: center; }
  .sign-widget .body {
    margin-top: 10px; }
  .sign-widget header {
    background: none repeat scroll 0 0 transparent;
    color: #666;
    position: relative;
    margin: 15px 0 18px; }
  .sign-widget .form-actions {
    padding: 0 0 15px; }
  .sign-widget .form-actions:before,
  .sign-widget .form-actions:after {
    content: " ";
    display: table; }
  .sign-widget .btn {
    font-size: 16px; }
  .sign-widget .form-actions .forgot,
  .sign-widget .form-actions .register,
  .sign-widget .form-actions .login,
  .sign-widget .form-actions .terms {
    display: inline-block;
    padding: 10px 0 0px 0;
    font-size: 13px; }
    .sign-widget .form-actions .forgot a,
    .sign-widget .form-actions .register a,
    .sign-widget .form-actions .login a,
    .sign-widget .form-actions .terms a {
      text-decoration: underline; }
  .sign-widget .form-actions .login {
    font-size: 14px; }
  .sign-widget .form-actions .terms {
    float: left; }
  .sign-widget .fa-icon-circle {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: inline-block;
    height: 26px;
    line-height: 24px;
    margin-right: 3px;
    width: 26px; }
  .sign-widget h4 {
    margin-bottom: 18px; }
  .sign-widget footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 -17px;
    overflow: hidden;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    dispay: block; }
  .sign-widget footer i[class*="fa"] {
    margin-right: 6px; }
  .sign-widget .facebook-login,
  .sign-widget .twitter-login {
    box-sizing: content-box;
    height: 30px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.15); }
    .sign-widget .facebook-login a,
    .sign-widget .twitter-login a {
      color: #fff;
      display: block;
      text-decoration: none;
      text-shadow: none; }
  .sign-widget .facebook-login {
    background: none repeat scroll 0 0 #3b5998; }
  .sign-widget .twitter-login {
    background: none repeat scroll 0 0 #55acee; }
