<h1 class="page-title">Dashboard</h1>
<div class="col-md-8">
    <div class="box">
        <p>some content</p>
    </div>
</div>
<div class="col-md-4">
    <div class="box">
        <p>some content</p>
    </div>
</div>