/*
	to make variables:
	footer height: 60px;
*/

h1,h2,h3 { text-transform: uppercase; }
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}

.input-group-btn .btn-default {border-left: 0;}

ul.bordered {
  border-bottom: #6e6e6e solid 1px;
  border-top: #6e6e6e solid 1px;
  margin: 8px 0;
  padding: 4px 0;
}

h1.page-title {
  font-size: 18px;
  margin-bottom: 16px;
  text-transform:uppercase;
  padding-left: 15px;
}

div.box {
  background-color: #fff;
  padding:10px 15px;
}

.notification-counter {   
  position: absolute;
  top: 7px;
  width: 17px;
  height: 17px;
  left: 20px;
  background-color: #54d4ab;
  color: #fff;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 10px;
}

body {
	margin-bottom: 30px;
	background-color: #f0f0f0;
	color: #757575;
	font-family: 'effra-light';
	font-size: 12px;
}

.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  border-top: #dddcdc solid 1px;
  overflow: hidden;
}

.footer p {
	margin-top: 8px;
}

nav {
	background-color: #fff;
	box-shadow: 0px 1px 1px #c6c5c5;
}

.navbar-brand img { height: 30px; margin-top: -5px;}

nav a {
	color: #4a4a4a;
}

.nav>li>a:focus, .nav>li>a:hover {
  background:none;
  color: #000;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.navbar-left a {
	text-transform: uppercase;
	font-family: 'effra';
}

.nav-expanded a.nav-expander.fixed {
    /*right: 20em;*/
}

#user-menu-container {
  background: #555555;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -225px;
  font-size: 15px;
  top: 0;
  width: 225px;
  z-index: 2000;
  color: #fff;
  padding: 0 20px;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded #user-menu-container {
  right: 0;
}

.tab-content {
  left: -40%;
  width: 40%;
  position:fixed;
  top: 104px;
  z-index: 1000;
  min-height: 350px;
  padding-left: 20px;
  padding-right: 20px;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

.tab-expanded .tab-content {
  left: 0;
  box-shadow: 3px 3px 3px #b6b6b6;
}

.tab-expanded #slide-tabs {
  left: 40%;
}

.tab-expanded #slide-tabs li:not(.active) {
  box-shadow: 2px 2px 2px #b6b6b6, inset 3px 0px 2px #b6b6b6;
  color: #828181;
}

.tab-expanded #slide-tabs li:not(.active) a {
  color: #828181;
}

.tab-expanded #slide-tabs li.active {
  box-shadow: 3px 3px 3px #b6b6b6;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

body.tab-expanded {
  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  font-weight: 300;
  font-size: 16px;
  position:absolute;
  top:-5px;
  right:-3px;
}

.user-menu {
  padding-top: 12px;
}

.user-menu li {
  font-size: 14px;
  padding: 12px;
}

.user-menu li:last-child {
	border-bottom:0;
}

.user-menu li a {
  color: #fff;
  text-decoration: none;
}

.user-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.user-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.user-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.user-menu a:hover .caret {
	border-top-color: #4f5963;
}

.user-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.user-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f107';
}

.user-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.user-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

#user-menu-container .btn-close {
	margin: 8px 8px 0 0;
	color: #b6b6b6;
}

#user-menu-container .user-info {
	margin-top: 25px;
	border-bottom: #6e6e6e solid 1px;
	padding-bottom: 15px;
}

#user-menu-container .user-info img {
	margin-top:0;
	margin-left:-20px;
}

.user-profile {
	height: 30px;
	margin-top: 10px;
	padding: 0 10px;
}

#slide-tabs {
  position: absolute;
  top: 104px;
  left: 0;
  z-index: 1005;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;  
}

#slide-tabs li {
  margin: 0 0 5px;
  background-color: #fff;
  color: #555555;
  box-shadow: 2px 2px 2px #b6b6b6;
}

#slide-tabs li a {
  font-size: 20px;
  padding: 20px;
  color: #555555;
  display: block;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#slide-tabs li a:hover {
  color: #fff;
  background-color: #ff6456;
}


section#main-content {
  position: relative;
  top: 50px;
  left: 70px;
  /*since we are moving this over, need to add a margin equal to the positioning */
  margin-right: 70px;
}


