{% extends '::base.html.twig' %}
{% block body %}
    {#<div class="row">#}
    {#<div class="col-lg-12">#}
    {#<div class="wrapper wrapper-content">#}
    {#<div class="middle-box text-center animated fadeInRightBig">#}
    {#<h3 class="font-bold">This is page content</h3>#}

    {#<div class="error-desc">#}
    {#You can create here any grid layout you want. And any variation layout you imagine:) Check#}
    {#out main dashboard and other site. It use many different layout.#}
    {#<br/><a href="index.html" class="btn btn-primary m-t">Dashboard</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div id="container-content" class="container-content">#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 no-pad">
                {#<div class="row">#}
                {#<div class="col-md-4 no-pad">#}
                {#<div class="widget bg-inverse">#}
                {#<div class="widget-icon widget-icon-top bg-inverse-light">#}
                {#<i class="fa fa-dollar r-mar-10"></i>#}
                {#</div>#}
                {#<div class="widget-progress">#}
                {#<div class="progress-bar progress-bar-animated" style="width: 65%;"#}
                {#aria-valuenow="65"></div>#}
                {#</div>#}
                {#<div class="widget-content to-center">#}
                {#Today's income (65%)#}
                {#<h2 class="bold">1.200,00$</h2>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 no-pad">#}
                {#<div class="widget bg-green-soft">#}
                {#<div class="widget-icon widget-icon-top bg-green-soft-light">#}
                {#<i class="fa fa-shopping-cart r-mar-10"></i>#}
                {#</div>#}
                {#<div class="widget-progress">#}
                {#<div class="progress-bar progress-bar-animated" style="width: 85%;"#}
                {#aria-valuenow="85"></div>#}
                {#</div>#}
                {#<div class="widget-content to-center">#}
                {#Today's sales (85%)#}
                {#<h2 class="bold">1,024</h2>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 no-pad">#}
                {#<div class="widget bg-default">#}
                {#<div class="widget-icon widget-icon-top bg-default-light">#}
                {#<i class="fa fa-user r-mar-10"></i>#}
                {#</div>#}
                {#<div class="widget-progress">#}
                {#<div class="progress-bar progress-bar-animated" style="width: 45%;"#}
                {#aria-valuenow="45"></div>#}
                {#</div>#}
                {#<div class="widget-content to-center">#}
                {#Today's visitors (45%)#}
                {#<h2 class="bold">1,024</h2>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <div class="row">
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-info">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h4>Active Service Requests</h4>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">8</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="javascript:void(0);">
                                    <span class="pull-right">
                                        View all Service Reguests
                                        <i class="fa fa-caret-right l-mar-5"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-warning">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h4>Pending Service Requests</h4>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">16</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="javascript:void(0);">
                                    <span class="pull-right">
                                        View all Service Requests
                                        <i class="fa fa-caret-right l-mar-5"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-inverse">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h4>Completed Service Requests</h4>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">64</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="javascript:void(0);">
                                    <span class="pull-right">
                                        View all Service Requests
                                        <i class="fa fa-caret-right l-mar-5"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="col-md-4 no-pad">#}
            {#<!-- Maintenance -->#}
            {#<div class="widget bg-success">#}
            {#<div class="to-center bg-success-dark pad-v-10 fs-14">#}
            {#Maintenance tasks#}
            {#</div>#}
            {#<div class="widget-progress">#}
            {#<div class="progress-bar progress-bar-animated progress-striped pba1" style="width: 2%;"#}
            {#aria-valuenow="2"></div>#}
            {#</div>#}
            {#<div class="widget-content bg-success-light pad-v-10">#}
            {#Server backup (<span class="progress-bar-percent pbp1">2%</span>)#}
            {#</div>#}
            {#<div class="widget-progress">#}
            {#<div class="progress-bar progress-bar-animated pba2" style="width: 60%;"#}
            {#aria-valuenow="60"></div>#}
            {#</div>#}
            {#<div class="widget-content bg-success-light pad-v-10">#}
            {#DB backup (<span class="progress-bar-percent pbp2">60%</span>)#}
            {#</div>#}
            {#<div class="widget-progress">#}
            {#<div class="progress-bar progress-bar-animated pba3" style="width: 84%;"#}
            {#aria-valuenow="84"></div>#}
            {#</div>#}
            {#<div class="widget-content bg-success-light pad-v-10">#}
            {#Script execution (<span class="progress-bar-percent pbp3">84%</span>)#}
            {#</div>#}
            {#</div>#}
            {#<!-- / Maintenance -->#}
            {#</div>#}
        </div>
        <div class="row">
            <div class="col-md-8 no-pad">
                <div class="row">
                    <div class="col-md-12 no-pad">
                        <div class="panel mar-10">
                            <div class="panel-body">
                                <h4 class="mb-10"><strong>Sales</strong> Monthly</h4>

                                <div style="height: 256px" class="mt-10 mb-10">
                                    <canvas id="chartjsLineChart" width="1030" height="256"
                                            style="width: 1030px; height: 256px;"></canvas>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 no-h-pad">
                                        <div class="widget bg-default">
                                            <div class="widget-icon widget-icon-top bg-default-light to-center">
                                                <div id="sparkline-bar">
                                                    <canvas width="84" height="48"
                                                            style="display: inline-block; width: 84px; height: 48px; vertical-align: top;"></canvas>
                                                </div>
                                            </div>
                                            <div class="widget-content to-center">
                                                <i class="fa fa-ticket r-mar-5"></i>
                                                Service Requests
                                                <h3 class="bold">2.048</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-h-pad">
                                        <div class="widget bg-default">
                                            <div class="widget-icon widget-icon-top bg-default-light to-center">
                                                <div id="sparkline-area">
                                                    <canvas width="267" height="48"
                                                            style="display: inline-block; width: 267px; height: 48px; vertical-align: top;"></canvas>
                                                </div>
                                            </div>
                                            <div class="widget-content to-center">
                                                <i class="fa fa-dollar r-mar-5"></i>
                                                Sales
                                                <h3 class="bold">120,000.00$</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-h-pad">
                                        <div class="widget bg-default">
                                            <div class="widget-icon widget-icon-top bg-default-light to-center">
                                                <div id="sparkline-bar-2">
                                                    <canvas width="79" height="48"
                                                            style="display: inline-block; width: 79px; height: 48px; vertical-align: top;"></canvas>
                                                </div>
                                            </div>
                                            <div class="widget-content to-center">
                                                <i class="fa fa-wrench r-mar-5"></i>
                                                Opportunities
                                                <h3 class="bold">128</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="row">#}
                    {#<div class="col-md-12 no-pad">#}
                        {#<div class="widget bg-success">#}
                            {#<div class="widget-content bg-success-light">#}
                                {#<div class="row">#}
                                    {#<div class="col-md-10">#}
                                        {#<h4>Top active projects</h4>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="row">#}
                                    {#<div class="col-md-12">#}
                                        {#<table class="table table-responsive wp100 no-mb">#}
                                            {#<tbody>#}
                                            {#<tr>#}
                                                {#<td class="w25">1</td>#}
                                                {#<td>Dee Admin Template</td>#}
                                                {#<td class="wp25">#}
                                                    {#<div class="progress progress-xs mb-5 mt-5">#}
                                                        {#<div class="progress-bar progress-bar-success"#}
                                                             {#role="progressbar" aria-valuenow="90" aria-valuemin="0"#}
                                                             {#aria-valuemax="100" style="width: 90%"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td class="w25">2</td>#}
                                                {#<td>Lorem Admin Template</td>#}
                                                {#<td class="wp25">#}
                                                    {#<div class="progress progress-xs mb-5 mt-5">#}
                                                        {#<div class="progress-bar progress-bar-success"#}
                                                             {#role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
                                                             {#aria-valuemax="100" style="width: 20%"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td class="w25">3</td>#}
                                                {#<td>Ipsum Admin Template</td>#}
                                                {#<td class="wp25">#}
                                                    {#<div class="progress progress-xs mb-5 mt-5">#}
                                                        {#<div class="progress-bar progress-bar-success"#}
                                                             {#role="progressbar" aria-valuenow="35" aria-valuemin="0"#}
                                                             {#aria-valuemax="100" style="width: 35%"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td class="w25">3</td>#}
                                                {#<td>Dolor Admin Template</td>#}
                                                {#<td class="wp25">#}
                                                    {#<div class="progress progress-xs mb-5 mt-5">#}
                                                        {#<div class="progress-bar progress-bar-success"#}
                                                             {#role="progressbar" aria-valuenow="65" aria-valuemin="0"#}
                                                             {#aria-valuemax="100" style="width: 65%"></div>#}
                                                    {#</div>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            {#</tbody>#}
                                        {#</table>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                {#<div class="col-md-4 no-pad">#}
                {#<div class="widget bg-info">#}
                {#<div class="widget-content">#}
                {#<div class="row">#}
                {#<div class="col-md-10">#}
                {#<h3>Active projects</h3>#}
                {#</div>#}
                {#<div class="col-md-2 to-right">#}
                {#<h2 class="bold">8</h2>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="widget-refer">#}
                {#<a href="javascript:void(0);">#}
                {#<span class="pull-right">#}
                {#View all projects#}
                {#<i class="fa fa-caret-right l-mar-5"></i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 no-pad">#}
                {#<div class="widget bg-warning">#}
                {#<div class="widget-content">#}
                {#<div class="row">#}
                {#<div class="col-md-10">#}
                {#<h3>Pending projects</h3>#}
                {#</div>#}
                {#<div class="col-md-2 to-right">#}
                {#<h2 class="bold">16</h2>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="widget-refer">#}
                {#<a href="javascript:void(0);">#}
                {#<span class="pull-right">#}
                {#View all projects#}
                {#<i class="fa fa-caret-right l-mar-5"></i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 no-pad">#}
                {#<div class="widget bg-inverse">#}
                {#<div class="widget-content">#}
                {#<div class="row">#}
                {#<div class="col-md-10">#}
                {#<h3>Closed projects</h3>#}
                {#</div>#}
                {#<div class="col-md-2 to-right">#}
                {#<h2 class="bold">64</h2>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="widget-refer">#}
                {#<a href="javascript:void(0);">#}
                {#<span class="pull-right">#}
                {#View all projects#}
                {#<i class="fa fa-caret-right l-mar-5"></i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                {#<div class="col-md-12 no-pad">#}
                {#<!-- Activity -->#}
                {#<div class="panel mar-10">#}
                {#<div class="panel-heading">#}
                {#<div class="panel-title">#}
                {#<strong>Activity</strong>#}
                {#<small> / Your social activity</small>#}
                {#</div>#}
                {#</div>#}
                {#<div class="panel-body panel-full">#}
                {#<div class="feed-element mar-h-20">#}
                {#<div class="pull-left r-mar-10">#}
                {#<a href="javascript:void(0);">#}
                {#<img alt="WB [42x42]" class="img-thumbnail"#}
                {#data-src="holder.js/42x42?text=WB&amp;theme=social&amp;size=12"#}
                {#src="data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F42x42%3Ftext%3DWB%26theme%3Dsocial%26size%3D12%0ACreated%20with%20Holder.js%202.8.0.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_150f43705d5%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_150f43705d5%22%3E%3Crect%20width%3D%2242%22%20height%3D%2242%22%20fill%3D%22%233a5a97%22%2F%3E%3Cg%3E%3Ctext%20x%3D%227.671875%22%20y%3D%2226.1%22%3EWB%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
                {#data-holder-rendered="true" style="width: 42px; height: 42px;">#}
                {#</a>#}
                {#</div>#}
                {#<div class="feed-element-body">#}
                {#<small class="pull-right feed-element-time">#}
                {#5m ago @ 14:20 pm#}
                {#<div class="btn-group l-mar-5">#}
                {#<a class="btn btn-xs social-facebook-color pad-h-5"><i#}
                {#class="fa fa-thumbs-up"></i></a>#}
                {#<a class="btn btn-xs social-twitter-color pad-h-5"><i#}
                {#class="fa fa-twitter"></i></a>#}
                {#</div>#}
                {#</small>#}
                {#<strong>Warren Beatty</strong> (@wbeatty) started following you.<br>#}

                {#<p class="to-justify mt-5">#}
                {#I love your account and <span loremizer="" loremizer-words="20"#}
                {#loremizer-no-p="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tempor risus, sed tempor velit. Phasellus ut maximus nulla. Curabitur.</span>#}
                {#</p>#}
                {#</div>#}
                {#</div>#}
                {#<div class="feed-element mar-h-20">#}
                {#<div class="pull-left r-mar-10">#}
                {#<a href="javascript:void(0);">#}
                {#<img alt="PB [42x42]" class="img-thumbnail"#}
                {#data-src="holder.js/42x42?text=PB&amp;theme=social&amp;size=12"#}
                {#src="data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F42x42%3Ftext%3DPB%26theme%3Dsocial%26size%3D12%0ACreated%20with%20Holder.js%202.8.0.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_150f4373c38%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_150f4373c38%22%3E%3Crect%20width%3D%2242%22%20height%3D%2242%22%20fill%3D%22%233a5a97%22%2F%3E%3Cg%3E%3Ctext%20x%3D%229.890625%22%20y%3D%2226.1%22%3EPB%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
                {#data-holder-rendered="true" style="width: 42px; height: 42px;">#}
                {#</a>#}
                {#</div>#}
                {#<div class="feed-element-body">#}
                {#<small class="pull-right feed-element-time">03/05/2020 @ 13:20 pm</small>#}
                {#<strong>You</strong> started following <strong>Martin Scout</strong>.<br>#}

                {#<div class="mt-5 to-justify">#}
                {#<span loremizer="" loremizer-words="24" loremizer-no-p="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tempor risus, sed tempor velit. Phasellus ut maximus nulla. Curabitur sit amet maximus nulla.</span>#}
                {#</div>#}
                {#<div class="mt-5">#}
                {#<a class="btn btn-xs social-facebook-color"><i#}
                {#class="fa fa-thumbs-up r-mar-5"></i>Like</a>#}
                {#<a class="btn btn-xs social-twitter-color"><i#}
                {#class="fa fa-twitter r-mar-5"></i>Follow</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="feed-element mar-h-20">#}
                {#<div class="pull-left r-mar-10">#}
                {#<a href="javascript:void(0);">#}
                {#<img alt="PW [42x42]" class="img-thumbnail"#}
                {#data-src="holder.js/42x42?text=PW&amp;theme=sky&amp;size=12"#}
                {#src="data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F42x42%3Ftext%3DPW%26theme%3Dsky%26size%3D12%0ACreated%20with%20Holder.js%202.8.0.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_150f4374ccc%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_150f4374ccc%22%3E%3Crect%20width%3D%2242%22%20height%3D%2242%22%20fill%3D%22%230D8FDB%22%2F%3E%3Cg%3E%3Ctext%20x%3D%228.1171875%22%20y%3D%2226.1%22%3EPW%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
                {#data-holder-rendered="true" style="width: 42px; height: 42px;">#}
                {#</a>#}
                {#</div>#}
                {#<div class="feed-element-body">#}
                {#<small class="pull-right feed-element-time">#}
                {#Yesterday @ 11:21 am#}
                {#<div class="btn-group l-mar-5">#}
                {#<a class="btn btn-xs social-facebook-color pad-h-5"><i#}
                {#class="fa fa-thumbs-up"></i></a>#}
                {#<a class="btn btn-xs social-twitter-color pad-h-5"><i#}
                {#class="fa fa-twitter"></i></a>#}
                {#</div>#}
                {#</small>#}
                {#<strong>Patrick Wallentines</strong> posted new content.<br>#}

                {#<p class="to-justify mt-5">#}
                {#Sometimes in live <span loremizer="" loremizer-words="50"#}
                {#loremizer-no-p="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tempor risus, sed tempor velit. Phasellus ut maximus nulla. Curabitur sit amet maximus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vitae ullamcorper augue. Nulla vel interdum mauris, eu porttitor libero. Nulla convallis.</span>#}
                {#</p>#}
                {#</div>#}
                {#</div>#}
                {#<div class="feed-element mar-h-20">#}
                {#<div class="pull-left r-mar-10">#}
                {#<a href="javascript:void(0);">#}
                {#<img alt="MS [42x42]" class="img-thumbnail"#}
                {#data-src="holder.js/42x42?text=MS&amp;theme=social&amp;size=12"#}
                {#src="data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F42x42%3Ftext%3DMS%26theme%3Dsocial%26size%3D12%0ACreated%20with%20Holder.js%202.8.0.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_150f43759a5%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_150f43759a5%22%3E%3Crect%20width%3D%2242%22%20height%3D%2242%22%20fill%3D%22%233a5a97%22%2F%3E%3Cg%3E%3Ctext%20x%3D%229%22%20y%3D%2226.1%22%3EMS%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
                {#data-holder-rendered="true" style="width: 42px; height: 42px;">#}
                {#</a>#}
                {#</div>#}
                {#<div class="feed-element-body">#}
                {#<small class="pull-right feed-element-time">#}
                {#03/05/2020 @ 13:20 pm#}
                {#<div class="btn-group l-mar-5">#}
                {#<a class="btn btn-xs social-facebook-color pad-h-5"><i#}
                {#class="fa fa-thumbs-up"></i></a>#}
                {#<a class="btn btn-xs social-twitter-color pad-h-5"><i#}
                {#class="fa fa-twitter"></i></a>#}
                {#</div>#}
                {#</small>#}
                {#<strong>Martin Scout</strong> (@mscoutter) started following you.<br>#}

                {#<p class="to-justify mt-5">#}
                {#<span loremizer="" loremizer-words="36"><p>Lorem ipsum dolor sit amet,#}
                {#consectetur adipiscing elit. Donec et tempor risus, sed tempor#}
                {#velit. Phasellus ut maximus nulla. Curabitur sit amet maximus#}
                {#nulla. Class aptent taciti sociosqu ad litora torquent per#}
                {#conubia nostra, per inceptos.</p></span>#}
                {#</p>#}
                {#</div>#}
                {#</div>#}
                {#<div class="feed-element mar-h-20 nbb">#}
                {#<div class="pull-left r-mar-10">#}
                {#<a href="javascript:void(0);">#}
                {#<img alt="PM [42x42]" class="img-thumbnail"#}
                {#data-src="holder.js/42x42?text=PM&amp;theme=social&amp;size=12"#}
                {#src="data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F42x42%3Ftext%3DPM%26theme%3Dsocial%26size%3D12%0ACreated%20with%20Holder.js%202.8.0.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_150f43742f2%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_150f43742f2%22%3E%3Crect%20width%3D%2242%22%20height%3D%2242%22%20fill%3D%22%233a5a97%22%2F%3E%3Cg%3E%3Ctext%20x%3D%229%22%20y%3D%2226.1%22%3EPM%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
                {#data-holder-rendered="true" style="width: 42px; height: 42px;">#}
                {#</a>#}
                {#</div>#}
                {#<div class="feed-element-body">#}
                {#<small class="pull-right feed-element-time">#}
                {#08/05/2020 @ 16:20 pm#}
                {#<div class="btn-group l-mar-5">#}
                {#<a class="btn btn-xs social-facebook-color pad-h-5"><i#}
                {#class="fa fa-thumbs-up"></i></a>#}
                {#<a class="btn btn-xs social-twitter-color pad-h-5"><i#}
                {#class="fa fa-twitter"></i></a>#}
                {#</div>#}
                {#</small>#}
                {#<strong>Pietro McOussa</strong> (@pmcoussa) started following you.<br>#}

                {#<p class="to-justify mt-5">#}
                {#<span loremizer="" loremizer-words="12"><p>Lorem ipsum dolor sit amet,#}
                {#consectetur adipiscing elit. Donec et tempor risus.</p></span>#}
                {#</p>#}
                {#</div>#}
                {#</div>#}
                {#<a class="btn btn-block btn-success">#}
                {#Show more...#}
                {#</a>#}
                {#</div>#}
                {#</div>#}
                {#<!-- / Activity -->#}
                {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                {#<div class="col-md-12 no-pad">#}
                {#<!-- Comments -->#}
                {#<div class="widget bg-primary">#}
                {#<div class="widget-icon bg-primary-light">#}
                {#<div id="sparkline-pie">#}
                {#<canvas width="96" height="96"#}
                {#style="display: inline-block; width: 96px; height: 96px; vertical-align: top;"></canvas>#}
                {#</div>#}
                {#</div>#}
                {#<div class="widget-content ">#}
                {#<div class="row">#}
                {#<div class="col-md-4 to-center">#}
                {#<div>Positive comments</div>#}
                {#<div class="fs-20"><strong>128</strong>#}
                {#<small class="fs-12">/ 61.5%</small>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 to-center">#}
                {#<div>Pending comments</div>#}
                {#<div class="fs-20"><strong>64</strong>#}
                {#<small class="fs-12">/ 30.8%</small>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 to-center">#}
                {#<div>Negative comments</div>#}
                {#<div class="fs-20"><strong>16</strong>#}
                {#<small class="fs-12">/ 7.7%</small>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<!-- / Comments -->#}
                {#</div>#}
                {#</div>#}
            </div>
            <div class="col-md-4 no-pad">
                <!-- Server Statistics -->
                <div class="panel mar-10">
                    <div class="panel-body">
                        <ul class="non-styled-list">

                            {#<li>#}
                            {#<div class="row">#}
                            {#<div class="col-md-12 no-h-pad to-center">#}
                            {#<div class="well mb-10">#}
                            {#<span class="peityCPULoad no-mb" style="display: none;">43,51,48,99,47,52,23,44,75,50,50,24,77,37,41,54,37,71,15,73</span>#}
                            {#<svg class="peity" height="54" width="128">#}
                            {#<polygon fill="rgba(162, 162, 162, 0.2)"#}
                            {#points="0 53.25 0 30.446969696969695 6.7368421052631575 26.204545454545457 13.473684210526315 27.795454545454543 20.210526315789473 0.75 26.94736842105263 28.325757575757574 33.68421052631579 25.674242424242422 40.421052631578945 41.053030303030305 47.1578947368421 29.916666666666668 53.89473684210526 13.477272727272727 60.63157894736842 26.734848484848484 67.36842105263158 26.734848484848484 74.10526315789474 40.52272727272727 80.84210526315789 12.416666666666664 87.57894736842104 33.628787878787875 94.3157894736842 31.507575757575758 101.05263157894737 24.613636363636367 107.78947368421052 33.628787878787875 114.52631578947367 15.598484848484851 121.26315789473684 45.29545454545455 128 14.537878787878789 128 53.25"></polygon>#}
                            {#<polyline fill="transparent"#}
                            {#points="0 30.446969696969695 6.7368421052631575 26.204545454545457 13.473684210526315 27.795454545454543 20.210526315789473 0.75 26.94736842105263 28.325757575757574 33.68421052631579 25.674242424242422 40.421052631578945 41.053030303030305 47.1578947368421 29.916666666666668 53.89473684210526 13.477272727272727 60.63157894736842 26.734848484848484 67.36842105263158 26.734848484848484 74.10526315789474 40.52272727272727 80.84210526315789 12.416666666666664 87.57894736842104 33.628787878787875 94.3157894736842 31.507575757575758 101.05263157894737 24.613636363636367 107.78947368421052 33.628787878787875 114.52631578947367 15.598484848484851 121.26315789473684 45.29545454545455 128 14.537878787878789"#}
                            {#stroke="rgba(141, 141, 141, 0.8)" stroke-width="1.5"#}
                            {#stroke-linecap="square"></polyline>#}
                            {#</svg>#}
                            {#<div id="wellcpu"#}
                            {#class="well no-v-pad no-mb color-white pad-v-5 bg-warning-light">#}
                            {#<small>Server load (<span id="cpuload">73</span>%)</small>#}
                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                            {#</li>#}
                            <li>
                                <h5><strong>Service Requests Goal</strong></h5>
                                <h6>Today</h6>

                                <div class="progress progress-striped active progress-xs">
                                    <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                                         role="progressbar" class="progress-bar">
                                        <span class="sr-only">90%</span>
                                    </div>
                                </div>
                                <h6>Last 7 Days</h6>

                                <div class="progress progress-striped active progress-xs">
                                    <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55"
                                         role="progressbar" class="progress-bar">
                                        <span class="sr-only">55%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h5><strong>Service Request Revenue</strong></h5>
                                <h6>Per Request</h6>

                                <div class="row">
                                    <div class="col-xs-6">
                                        $1,200
                                    </div>
                                    <div class="col-xs-6 to-right color-success bold">
                                        <i class="fa fa-caret-up pad-h-5"></i>22.2%
                                    </div>
                                </div>
                                <h6></h6>

                                <div class="row">
                                    <div class="col-xs-6">
                                        100 ms
                                    </div>
                                    <div class="col-xs-6 to-right color-warning bold">
                                        <i class="fa fa-caret-up pad-h-5"></i>12.1%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / Server Statistics -->

                <!-- Contacts -->
                <div class="panel mar-10">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <strong>Users</strong>
                            <small> / status</small>
                        </div>
                    </div>
                    <div class="panel-body panel-full">
                        <ul class="striped-list no-mb">
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Ronald C. Stevens
                                        <br>
                                        <i class="fa fa-circle color-success r-pad-5"></i>
                                        <small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        {#//fa fa-caret-up pad-h-5#}
                                        <i class="color-success fa fa-level-up fa-2x"></i>

                                        <br><i>
                                            <small>+3 converted</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-fax fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Chanell W. Orcutt
                                        <br>
                                        <i class="fa fa-circle color-success r-pad-5"></i>
                                        <small>Fielding an Opportunity</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        {#//fa fa-caret-up pad-h-5#}
                                        <i class="color-success fa fa-level-up fa-2x"></i>

                                        <br><i>
                                            <small>+15 converted</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Blake J. Gibson
                                        <br>
                                        <i class="fa fa-circle color-success r-pad-5"></i>
                                        <small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        {#//fa fa-caret-up pad-h-5#}
                                        <i class="color-warning fa fa-minus fa-2x"></i>

                                        <br><i>
                                            <small>-1 converted</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Laura E. Fagin
                                        <br>
                                        <i class="fa fa-circle color-danger r-pad-5"></i>
                                        <small>Offline</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        {#//fa fa-caret-up pad-h-5#}
                                        <i class="color-danger fa fa-level-down fa-2x"></i>

                                        <br><i>
                                            <small>-9 converted</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Bobby V. Becker
                                        <br>
                                        <i class="fa fa-circle color-success r-pad-5"></i>
                                        <small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        {#//fa fa-caret-up pad-h-5#}
                                        <i class="color-success fa fa-level-up fa-2x"></i>

                                        <br><i>
                                            <small>+2 converted</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-block  btn-success">
                            Show all users...
                        </a>
                    </div>
                </div>
                <!-- / Contacts -->

                <!-- Notifications -->
                <div class="panel mar-10">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <strong>Notifications</strong>
                        </div>
                        <div class="panel-control">
                            <span class="label label-warning">10 notifications</span>
                        </div>
                    </div>
                    <div class="panel-body panel-full">
                        <ul class="striped-list no-mb">
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-twitter fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-10 l-pad-10">
                                        You have one new follower!
                                        <br>
                                        <small>@deeTemplate is following you</small>
                                        <br>
                                        <i>
                                            <small>12/11/2022 11:26h</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-facebook fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-10 l-pad-10">
                                        You have one new friend!
                                        <br>
                                        <small>Dee Admin Template is your friend</small>
                                        <br>
                                        <i>
                                            <small>12/11/2022 11:11h</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-envelope fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-10 l-pad-10">
                                        You have 4 new mails!
                                        <br>
                                        <small>Go to webmail to read it</small>
                                        <br>
                                        <i>
                                            <small>12/11/2022 11:01h</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-linkedin-square fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-10 l-pad-10">
                                        Someone visited you professional profile!
                                        <br>
                                        <small>Go to Linkedin and check-it</small>
                                        <br>
                                        <i>
                                            <small>12/11/2022 10:42h</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-google-plus fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-10 l-pad-10">
                                        You have been added to the Dee Circle!
                                        <br>
                                        <small>Go to Google+ and check-it</small>
                                        <br>
                                        <i>
                                            <small>12/11/2022 10:31h</small>
                                        </i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-block btn-success">
                            Load more notifications...
                        </a>
                    </div>
                </div>
                <!-- / Notifications -->

                <!-- Today's tasks -->
                {#<div class="panel mar-10">#}
                    {#<div class="panel-heading">#}
                        {#<div class="panel-title">#}
                            {#<div class="panel-title">#}
                                {#<strong>Today's tasks</strong>#}
                                {#<small> / You have 5 tasks</small>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="panel-body panel-full">#}
                        {#<ul class="list-group">#}
                            {#<li class="list-group-item">#}
                                {#<span class="label label-danger">10:00h</span>#}
                                {#<label class="option no-mb">#}
                                    {#<input type="checkbox" name="varcb1">#}
                                    {#<span class="checkbox checkbox-thin"></span>#}
                                                    {#<span class="l-mar-5">#}
                                                        {#Partner evaluation#}
                                                    {#</span>#}
                                {#</label>#}
                            {#</li>#}
                            {#<li class="list-group-item">#}
                                {#<span class="label label-warning">11:00h</span>#}
                                {#<label class="option no-mb">#}
                                    {#<input type="checkbox" name="varcb2">#}
                                    {#<span class="checkbox checkbox-thin"></span>#}
                                                    {#<span class="l-mar-5">#}
                                                        {#Do maintenance work in server#}
                                                    {#</span>#}
                                {#</label>#}
                            {#</li>#}
                            {#<li class="list-group-item ">#}
                                {#<span class="label label-warning">12:00h</span>#}
                                {#<label class="option no-mb">#}
                                    {#<input type="checkbox" name="varcb3">#}
                                    {#<span class="checkbox checkbox-thin"></span>#}
                                                    {#<span class="l-mar-5">#}
                                                        {#Check server status (Database)#}
                                                    {#</span>#}
                                {#</label>#}
                            {#</li>#}
                            {#<li class="list-group-item ">#}
                                {#<span class="label label-warning">12:30h</span>#}
                                {#<label class="option no-mb">#}
                                    {#<input type="checkbox" name="varcb4">#}
                                    {#<span class="checkbox checkbox-thin"></span>#}
                                                    {#<span class="l-mar-5">#}
                                                        {#Meeting with partners#}
                                                    {#</span>#}
                                {#</label>#}
                            {#</li>#}
                            {#<li class="list-group-item">#}
                                {#<span class="label label-success">17:00h</span>#}
                                {#<label class="option no-mb">#}
                                    {#<input type="checkbox" name="varcb5">#}
                                    {#<span class="checkbox checkbox-thin"></span>#}
                                                    {#<span class="l-mar-5">#}
                                                        {#Video conference with Australia#}
                                                    {#</span>#}
                                {#</label>#}
                            {#</li>#}
                        {#</ul>#}
                        {#<a class="btn btn-block btn-success">#}
                            {#Show all tasks...#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
                <!-- / Today's tasks -->
            </div>
        </div>
    </div>
{% endblock %}
