<h1 class="page-title">Dispatch Board</h1>
<div class="row group">
	<div class="col-md-12">
	    <div class="box">
	        <div class="col-md-3" style="padding-top:8px">
	        	<i class="fa fa-chevron-circle-left" style="padding-right: 10px;" data-toggle="popover" title="blah" data-content="123 Main St, Columbia, KS 12345"></i>
	        		{[ viewDate | date: 'EEE MMM d, yyyy']}
        		<i class="fa fa-chevron-circle-right" style="padding-left: 10px;"></i>
	        </div>

	        <div class='col-md-2'>
						<select class="form-control">
						  <option disabled>Departments</option>
						</select>
	        </div>

	        <div class='col-md-2'>
						<select class="form-control">
						  <option disabled>Locations</option>
						</select>
	        </div>

	        <div class='col-md-2'>
						<select class="form-control">
						  <option disabled selected>Technicians</option>
						  <option>All</option>
						  <option>Hutch White</option>
						  <option>Jake Litwicki</option>
						  <option>Josh Stevens</option>
						</select>
	        </div>

	        <div class="row"></div>
					<table id="tbl-dispatch" class="table borderless table-hover">
							<thead>
				        <tr>
				            <th class="text-right"></th>
				            <th> 7am</th>
				            <th> 8am</th>
				            <th> 9am</th>
				            <th>10am</th>
				            <th>11am</th>
				            <th>12pm</th>
				            <th> 1pm</th>
				            <th> 2pm</th>
				            <th> 3pm</th>
				            <th> 4pm</th>
				            <th> 5pm</th>
				            <th> 6pm</th>
				        </tr>
				      </thead>
					    <tbody>
					    	<tr ng-repeat="tech in schedule | groupBy: name">
					    		<td class="text-center">{[ tech.name ]}</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 7}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 8}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 9}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 10}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 11}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 12}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 13}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 14}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 15}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 16}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 17}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    		<td>
					    			<div ng-repeat="schedule in tech.schedules | filter:{time: 18}" class="chip green" ng-class="schedule.time"
					    					data-toggle="popover" title="{[schedule.client_name]}" data-content="123 Main St, Columbia, KS 12345">
					    				<i class="fa fa-info-circle"></i>
					    				{[ schedule.client_name ]}
				    				</div>
				    			</td>
					    	</tr>
					    </tbody>
					</table>
	    </div>
	</div>
</div>
<div class="row group">
	<div class="col-md-12" ng-init="getCustomers">
	    <div class="box">
	        <p>Service Requests</p>

	      	<table class="table borderless table-hover">
	      		<tr>
	      			<th>Est Start</th>
	      			<th>First Name</th>
	      			<th>Last Name</th>
	      			<th>Address</th>
	      			<th>Phone</th>
	      			<th></th>
	    			</tr>
					  <tr ng-repeat="sr in serviceRequests | limitTo:10">
					    <td>{[ sr.estimated_start_time | date: 'M/dd/yy h:mm a']}</td>
					    <td>{[ sr.customer.first_name ]}</td>
					    <td>{[ sr.customer.last_name ]}</td>
					    <td>{[ sr.customer.address | limitTo: 10 ]}{[ sr.customer.address.length > 10 ? '...' : '' ]}</td>
					    <td>{[ sr.customer.mobile_phone ]}</td>
					    <td><button class="btn btn-default" ng-click="addToSchedule(sr)">Add to Schedule</button></td>
					  </tr>
					</table>
	    </div>
	</div>
</div>
