
<!DOCTYPE html>
<html lang="en" ng-app="tradeServe" ng-controller="AppCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Zoadilack">

    <title>Trade Serve</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/tradeserve.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<base href="/app">
</head>

<body>

	<!-- User Menu -->
	<div id="user-menu-container">
		<a class="btn-close pull-right text-light" id="nav-close"><i class="fa fa-times"></i></a>
		<div class="user-info text-center">
			<img src="assets/img/defaults/user/profile.png" class="img-circle user-profile"> Hello Hutch!
		</div>
	  <ul class="list-unstyled user-menu">

	    <!--Include your navigation here-->
	    <!-- <li class="text-right"><a href="#" id="nav-close">X</a></li> -->
	    <li><a href="#">Notifications <span class="icon"></span></a>
	      <ul class="list-unstyled bordered">
	          <li class="sub-nav">Notice of event</li>
	          <li class="sub-nav">Notice of event</li>
              <li class="sub-nav">Notice of event</li>
              <li class="sub-nav">Notice of event</li>
	      </ul>
	    </li>
	    <li><a href="#">Update Profile</li>
	    <li><a href="#">Change Password</li>
        <li><a href="#">My Settings</li>
        <li><a href="#">Sign Out</li>
	  </ul>
	</div>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/app/dashboard">
                    <img src="assets/img/branding/logo_194x39.png" class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/app/dispatch">Dispatch Board</a>
                    </li>
                    <li>
                        <a href="">Service Request</a>
                    </li>
                    <li>
                        <a href="">Customers</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <div class="navbar-right collapse navbar-collapse ">
                <ul class="nav navbar-nav">
                    <li>
                        <a href=""><i class="fa fa-search"></i></a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-bell"></i>
                            <span class="notification-counter">3</span>
                        </a>
                    </li>
                    <li>
                        <img src="/assets/img/defaults/user/profile.png" class="img-circle user-profile">
                    </li>
                    <li>
                    	<a href="" id="nav-expander" class="nav-expander fixed">Hello Hutch! <i class="fa fa-angle-down"></i></a>
                  	</li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <section id="tabs">
        <ul id="slide-tabs" class="list-unstyled">
            <li class="active">
                <a href=""><i class="fa fa-fw fa-phone"></i></a>
            </li>
            <li>
                <a href=""><i class="fa fa-fw fa-map-o"></i></a>
            </li>
            <li>
                <a href=""><i class="fa fa-fw fa-tasks"></i></a>
            </li>
            <li>
                <a href=""><i class="fa fa-fw fa-user"></i></a>
            </li>
        </ul>

        <div class="tab-content box">
            <h2>Incoming Call</h2>
            <div class="row">
              <div class="col-lg-6 text-right">
                <!-- Single button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Type <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Type 1</a></li>
                    <li><a href="#">Type 2</a></li>
                    <li><a href="#">Type 3</a></li>
                  </ul>
                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

            <div class="row" style="padding-top: 20px">
            	<table class="table table-striped table-hover">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
				  <tr ng-repeat="customer in customers | filter:searchText | limitTo:10">
				    <td>{[ customer.first_name ]}</td>
				    <td>{[ customer.last_name ]}</td>
				    <td>{[ customer.address | limitTo: 10 ]}{[ customer.address.length > 10 ? '...' : '' ]}</td>
				    <td>{[ customer.mobile_phone ]}</td>
				  </tr>
				</table>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-12">
                    <textarea class="form-control" rows="3" placeholder="Notes"></textarea>
                </div>
            </div>
        </div>
    </section>

    <section id="main-content" class="container-fluid" >
    	<div ng-view></div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
        	<p class="pull-left">
        		v0.1.1 | Privacy Policy | &copy; 2016 Trade-Serve Inc.
        	</p>
          <p class="pull-right">Feedback</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>


    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <!--<script src="js/application.min.js"></script>-->
    <script src="/assets/js/tradeserve.js"></script>

</body>

</html>
