{% extends "::base.html.twig" %}

{% block title %}Service Requests{% endblock %}

{% block body %}
    <div class="row">
        {% for service_request in customers %}
            {% if service_request %}
                <div class="col-md-6">
                    <div style="min-height:350px;" class="well well-lg">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>{{ service_request.customer.firstName }} {{ service_request.customer.lastName }}</h3>
                                <h5>Address: {{ service_request.customer.address }}</h5>
                                <h5>Type: {{ service_request.type }}</h5>

                                <br>
                                <h5>Technicians: </h5>

                                <p style="margin-left: 10px;">

                                    <i class="fa fa-sign-in"></i> {{ service_request.estimatedStartTime|date("h:i A") }}

                                    {% for dispatch in service_request.dispatches %}
                                        {% if dispatch.primaryTech %}
                                            <b>{{ dispatch.technician }}</b><br>
                                        {% else %}
                                            {{ dispatch.technician }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </p>

                                <h5>Service Date: {{ service_request.estimatedStartDate|date("m/d/Y") }}</h5>
                                <h5>Service Request Status: {{ service_request.status|capitalize }}</h5>


                                <br>

                                {#<div class="progress">#}
                                {#<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"#}
                                {#aria-valuemin="0"#}
                                {#aria-valuemax="100" style="width: 60%;">#}
                                {#<p>{{ service_request.status }}</p>#}
                                {#</div>#}
                                {#</div>#}

                            </div>
                            <div class="col-md-6">
                                {% for dispatch in service_request.dispatches %}
                                    {% if dispatch.primaryTech %}
                                        <h5>Progress: </h5>
                                        {% for event in dispatch.events %}
                                            {% if event %}
                                                <div style="margin-left: 10px;" class="row">
                                                    <div class="col-sm-6">{{ event.type|capitalize }} </div>
                                                    <div class="col-sm-6">{{ event.created|date("m/d/Y h:i A") }} </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {#<img src="{{ asset('bundles/tradeserveapp/img/google-map.png') }}"#}
                                {#class="img-responsive img-thumbnail" alt="">#}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
