{% extends "::security.html.twig" %}
{% block content %}

  <div class="middle-box text-center">
    <h2>Forgot Password?</h2>

    {% if message %}
      <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
    {% endif %}



    {{ form_start(forgot_form, {'attr': {'class': 'password-forgot-form','class': 'form-horizontal' }}) }}
    {{ form_errors(forgot_form) }}
    <div class="form-group">
      <p>Don't freak out! We have you covered.</p>

      <p>Enter your email address you used to create the account below and
        we'll send you a link to create a new one.</p>
    </div>

    <div class="form-group">

      <div class="col-sm-12">
        {{ form_widget(forgot_form.email) }}
      </div>
    </div>


    <div class="form-group">

      {{ form_widget(forgot_form.back, {'attr': {'class': 'btn btn-default'} }) }}

      {{ form_widget(forgot_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}

    </div>

    {{ form_end(forgot_form) }}
  </div>

{% endblock %}