{% extends "::security.html.twig" %}
{% block content %}
    <section class="sign-widget-title">
        <h1><b>Trade-Serve</b></h1>
        <h4>Login Page</h4>
    </section>
    <section class="sign-widget">
        <header>
            <h4>Login to your <b>Trade-Serve</b> Account</h4>
        </header>
        <div class="body">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post" class="no-margin">
                <fieldset>
                    <div class="form-group">
                        <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                            <input type="email"
                                   placeholder="Email"
                                   class="form-control"
                                   id="email"
                                   name="_username" value="{{ last_username }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                            <input type="password"
                                   placeholder="Password"
                                   class="form-control"
                                   id="password"
                                   name="_password">
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-block btn-primary" type="submit">
                                <span class="fa-icon-circle">
                                    <i class="fa fa-sign-in"></i>
                                </span>
                        <small class="l-mar-5">Login</small>
                    </button>
                    <a href="{{ path('tradeserve_user_password_forgot') }}" class="forgot">Forgot Password?</a>
                    |
                    <a href="register.html" class="register">Create a new account</a>

                </div>
            </form>
        </div>
        <footer>
            <div class="twitter-login">
                <a href="index.html">
                            <span>
                                <i class="fa fa-twitter"></i><span class="l-mar-5">Log in with Twitter</span>
                            </span>
                </a>
            </div>
            <div class="facebook-login">
                <a href="index.html">
                            <span>
                                <i class="fa fa-facebook-official"></i><span class="l-mar-5">Log in with Facebook</span>
                            </span>
                </a>
            </div>
        </footer>
    </section>
{% endblock %}
