{% extends "::security.html.twig" %}
{% block content %}

  <div class="middle-box text-center">
    <h2>Reset Password</h2>

    <div class="form-group">
      <p>Enter your new password below.</p>
    </div>

    {% if valid_token %}
      {% if message %}
        <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
      {% endif %}
      {{ form(password_reset_form) }}
    {% else %}
      {% if message %}
        <div class="alert alert-{{ message.type }}">{{ message.body }}</div>
      {% endif %}
      {{ form(resend_form) }}
    {% endif %}
  </div>
{% endblock %}