{% extends "::security.html.twig" %}
{% block content %}
  <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name" style="margin-left: -100px;"><img src="bundles/remindcloudapp/img/login_logo.png"/></h1>
      </div>
      <h3>Welcome to TradeServe</h3>

      {% if error %}
        <div style="color:red;">{{ error.message }}</div>
      {% endif %}

      <p>Create an account</p>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_row(form.firstName) }}
      </div>
      <div class="form-group">
        {{ form_row(form.lastName) }}
      </div>
      <div class="form-group">
        {{ form_row(form.email) }}
      </div>
      <div class="form-group">
        {{ form_row(form.password) }}
      </div>
      <div class="form-group">

        {{ form_row(form.Register) }}
      </div>
      {{ form_end(form) }}
      <p class="m-t">
        <small>TradeServe &copy; 2015</small>
      </p>
    </div>
  </div>
{% endblock %}
