<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <!-- Include the title -->
    <title>Trade-Serve</title>

    <!-- Include the head -->
    <!-- Meta -->
    <meta name="description" content="Dee Admin Template Bootstrap">
    <meta name="keywords" content="admin,template,lightweight,dashboard,responsive,webapp,css3,html5,jquery,bootstrap">
    <meta name="author" content="trade-serve">
    <!-- / Meta -->

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- / Fonts -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% block stylesheets %}
        {% stylesheets
        '@TradeServeAppBundle/Resources/public/styles/vendor/pace-theme-minimal.css'
        '@TradeServeAppBundle/Resources/public/styles/vendor/bootstrap.min.css'
        '@TradeServeAppBundle/Resources/public/styles/vendor/metisMenu.min.css'

        '@TradeServeAppBundle/Resources/public/styles/vendor/animate.min.css'
        '@TradeServeAppBundle/Resources/public/styles/vendor/toastr.min.css'

        '@TradeServeAppBundle/Resources/public/styles/style.min.css'
        '@TradeServeAppBundle/Resources/public/styles/themes/theme-all.min.css'
        '@TradeServeAppBundle/Resources/public/styles/vendor/metisMenu.min.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

</head>
<body data-theme="default">
<div id="wrapper">
    <!-- Include the sidebar-nav -->
    <nav id="sidebar-nav" class="sidebar-nav">
        <div id="sidebar-wrapper" class="sidebar-wrapper" data-background="default">
            <component>sidebar-nav</component>
            <ul class="side-nav-top nav">
                <li class="sidebar-nav-logo">
                    <component>sidebar-nav-logo</component>
                    <img src="{{ asset('bundles/tradeserveapp/img/checkmark.png') }}"/>
                    {#<img src="img/sidebar-logo.png" alt="Dee Admin">#}
                    <span class="logo-text">
                    <b>Trade-Serve</b>
                </span>
                </li>
                <li class="sidebar-nav-profile">
                    <component>sidebar-nav-profile</component>
                    <div class="profile-left">
                        {#<img src="img/user.jpg" alt="Peter Boussa">#}
                    </div>
                    <div class="profile-right">
                    <span class="name">
                        Russ Duker<i id="user-profile-settings-toggler" class="fa fa-caret-down l-pad-5"></i>
                    </span>
                    <span class="info">
                        Project Manager
                    </span>
                    </div>
                </li>
                <!-- Profile settings -->
                <li class="side-nav-profile-settings" style="display: none;">
                    <ul class="inline-list">
                        <li>
                            <a id="right-notifier-toggler-3"
                               class="btn btn-white-hover mb-5"
                               data-placement="top"
                               data-toggle="tooltip"
                               data-original-title="Notifications">
                                <i class="fa fa-bell-o"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-white-hover mb-5"
                               data-placement="top"
                               data-toggle="tooltip"
                               data-original-title="Profile"
                               href="profile.html">
                                <i class="fa fa-user"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-white-hover mb-5"
                               data-placement="top"
                               data-toggle="tooltip"
                               data-original-title="Inbox"
                               href="inbox.html">
                                <i class="fa fa-inbox"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-white-hover mb-5"
                               data-placement="top"
                               data-toggle="tooltip"
                               data-original-title="Desktop">
                                <i class="fa fa-desktop"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-white-hover mb-5"
                               data-placement="top"
                               data-toggle="tooltip"
                               data-original-title="Support">
                                <i class="fa fa-support"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-white-hover mb-5"
                               data-placement="top"
                               data-toggle="tooltip"
                               data-original-title="Log out"
                               href="{{ path('logout') }}">
                                <i class="fa fa-sign-out l-pad-5"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- / Profile settings -->
            </ul>
            <ul id="side-nav" class="side-nav nav">

                <li class="{% if dashboard is defined %}active{% endif %}">
                    <a href="{{ path('trade_serve_app_homepage') }}">
                        <i class="fa fa-tachometer"></i>
                        <span class="name">Dashboard</span>
                    </a>
                </li>

                <li class="{% if dispatch is defined %}active{% endif %}">
                    <a href="{{ path('dispatch_index') }}">
                        <i class="fa fa-calendar-o"></i>
                        <span class="name">Dispatch</span>
                    </a>
                </li>
                <li class="{% if service is defined %}active{% endif %}">
                    <a href="{{ path('service_request_index') }}">
                        <i class="fa fa-ticket"></i>
                        <span class="name">Service Requests</span>
                    </a>
                </li>
                {#<li class="@@activate-forms">#}
                {#<a href="#">#}
                {#<i class="fa fa-ticket"></i>#}
                {#<span class="name">Service Requests</span>#}
                {#<span class="fa expand"></span>#}
                {#</a>#}
                {#<ul class="nav nav-second-level collapse">#}
                {#<li class="@@activate-form-basic">#}
                {#<a href="form_basic.html">#}
                {#Current#}
                {#</a>#}
                {#</li>#}
                {#<li class="@@activate-form-layouts">#}
                {#<a href="form_layouts.html">#}
                {#Create New#}
                {#</a>#}
                {#</li>#}
                {#<li class="@@activate-form-advanced-controls">#}
                {#<a href="form_advanced_controls.html">#}
                {#Archived#}
                {#</a>#}
                {#</li>#}
                {#<li class="@@activate-form-text-editor">#}
                {#<a href="text-editor.html">#}
                {#Text editor#}
                {#</a>#}
                {#</li>#}
                {#</ul>#}
                {#</li>#}
                <li class="{% if follow is defined %}active{% endif %}">
                    <a href="#">
                        <i class="fa fa-thumb-tack"></i>
                        <span class="name">Follow Ups</span>
                        <span class="label label-danger label-s pull-right r-mar-10">8</span>
                    </a>
                </li>

                <li class="{% if usr is defined %}active{% endif %}">
                    <a href="grids.html">
                        <i class="fa fa-group"></i>
                        <span class="name">Users</span>
                    </a>
                </li>
                <li class="{% if tech is defined %}active{% endif %}">
                    <a href="grids.html">
                        <i class="fa fa-wrench"></i>
                        <span class="name">Technicians</span>
                    </a>
                </li>
                <li class="{% if cust is defined %}active{% endif %}">
                    <a href="grids.html">
                        <i class="fa fa-users"></i>
                        <span class="name">Customers</span>
                    </a>
                </li>
                <li class="{% if truck is defined %}active{% endif %}">
                    <a href="grids.html">
                        <i class="fa fa-truck"></i>
                        <span class="name">Trucks</span>
                    </a>
                </li>
                <li class="{% if truck is defined %}active{% endif %}">
                    <a href="grids.html">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="name">Reports</span>
                    </a>
                </li>
                {#<li class="@@activate-layouts">#}
                {#<a href="#">#}
                {#<i class="fa fa-truck"></i>#}
                {#<span class="name">Trucks</span>#}
                {#<span class="fa expand"></span>#}
                {#</a>#}
                {#<ul class="nav nav-second-level collapse">#}
                {#<li>#}
                {#<a href="#" class="container-navbar-fixer-nav">Fixed top navbar</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#" class="container-footer-fixer-nav">Fixed footer</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#" class="sidebar-collapser-nav">Sidebar collapsed </a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#" class="sidebar-fixed-nav">Fixed sidebar</a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#" class="boxed-selector-nav">Boxed</a>#}
                {#</li>#}
                {#</ul>#}
                {#</li>#}

            </ul>
        </div>
    </nav>

    <div id="container-wrapper" class="container-wrapper">

        <!-- Include the container navbar -->
        <div id="container-navbar" class="container-navbar navbar">
            <component>container-navbar</component>
            <div class="l-container-navbar">
                <a href="#" class="sidebar-minimalizer btn btn-theme">
                    <i class="fa"></i>
                </a>
        <span id="navbar-search" class="navbar-search-input-icon l-mar-10">
            <i class="fa fa-search navbar-search-icon"></i>
            <input class="navbar-search" type="text" placeholder="Search ...">
        </span>
            </div>
            <div class="r-container-navbar">
                <!-- Notification sidebar -->
                <a id="right-notifier-toggler" class="btn btn-default btn-bordered">
                    <span class="fa fa-bell-o"></span>
                    <span class="badge badge-danger badge-xs upbadges">9</span>
                </a>
                <!-- User information -->
        <span class="dropdown" id="profile-toggler">
            <a class="btn btn-default btn-bordered dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-magic"></span>
            </a>
            <!-- Include the theme selector component -->
            <ul class="dropdown-menu dropdown-arrowed dropdown-menu-center w250" style="margin-right: -119px">
                <li class="dropdown-header">
                    <h3 class="bold">Profile status</h3>
                    <small>79% Complete</small>
                    <div class="progress progress-striped progress-xs">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="79"
                             aria-valuemin="0" aria-valuemax="100" style="width: 79%">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-top-1" data-toggle="tab-hover" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#tab-top-2" data-toggle="tab-hover" aria-expanded="true">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        {#<div class="tab-pane active" id="tab-top-1">#}
                        {#<div class="tab-pane-title">#}
                        {#<h3><strong>Settings</strong></h3>#}
                        {#</div>#}
                        {#<div class="to-center">#}
                        {#<!-- Include the theme selector component -->#}
                        {#<div id="demo-themes-page">#}
                        {#<div class="theme-selector theme-default-background theme-selector-bordered"#}
                        {#theme="default">#}
                        {#<div class="theme-selector-label" title="Default"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-white-background theme-selector-bordered"#}
                        {#theme="white">#}
                        {#<div class="theme-selector-label" title="White Light"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-navy-background theme-selector-bordered"#}
                        {#theme="navy">#}
                        {#<div class="theme-selector-label" title="Blue Navy"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-sky-background theme-selector-bordered"#}
                        {#theme="sky">#}
                        {#<div class="theme-selector-label" title="Blue Sky"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-lime-background theme-selector-bordered"#}
                        {#theme="lime">#}
                        {#<div class="theme-selector-label" title="Lime Lemon"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-dust-background theme-selector-bordered"#}
                        {#theme="dust">#}
                        {#<div class="theme-selector-label" title="Star Dust"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-green-background theme-selector-bordered"#}
                        {#theme="green">#}
                        {#<div class="theme-selector-label" title="Green Tea"></div>#}
                        {#</div>#}
                        {#<br/>#}

                        {#<div class="theme-selector theme-orange-background theme-selector-bordered"#}
                        {#theme="orange">#}
                        {#<div class="theme-selector-label" title="Orange Round"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-yellow-background theme-selector-bordered"#}
                        {#theme="yellow">#}
                        {#<div class="theme-selector-label" title="Yellow Sun"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-purple-background theme-selector-bordered"#}
                        {#theme="purple">#}
                        {#<div class="theme-selector-label" title="Deep Purple"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-chocolate-background theme-selector-bordered"#}
                        {#theme="chocolate">#}
                        {#<div class="theme-selector-label" title="Yummy Chocolate"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-dark-background theme-selector-bordered"#}
                        {#theme="dark">#}
                        {#<div class="theme-selector-label" title="Dark Night"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-green-soft-background theme-selector-bordered"#}
                        {#theme="green-soft">#}
                        {#<div class="theme-selector-label" title="Soft Green"></div>#}
                        {#</div>#}
                        {#<div class="theme-selector theme-red-background theme-selector-bordered"#}
                        {#theme="red">#}
                        {#<div class="theme-selector-label" title="Wheel Red"></div>#}
                        {#</div>#}
                        {#</div>#}
                        {#</div>#}
                        {#</div>#}
                        <div class="tab-pane" id="tab-top-2">
                            <div class="tab-pane-title">
                                <h3><strong>Profile</strong></h3>
                            </div>
                            <div>
                                Peter Boussa<br/>
                                <small>
                                    Project Manager
                                </small>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a id="right-notifier-toggler-2">
                        <i class="fa fa-bullhorn r-pad-15"></i>Messages
                    </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">
                        <i class="fa fa-power-off r-pad-15"></i>Logout
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-question-circle r-pad-15"></i>Lockscreen
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-info-circle r-pad-15"></i>Help
                    </a>
                </li>
            </ul>
        </span>
                <!-- Fullscreen toggler -->
                <a id="fullscreen-toggler" class="btn btn-default btn-bordered">
                    <span class="fa fa-arrows-alt"></span>
                </a>
                <!-- Log out -->
                <a class="btn btn-default btn-bordered" href="{{ path('logout') }}">
                    <span class="fa fa-sign-out r-mar-5"></span>Log out
                </a>
            </div>
            <!-- Include the right notifier -->
            <div id="right-notifier">
                <div class="right-notifier-content">
                    <div class="right-notifier-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-1" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-bullhorn"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-2" data-toggle="tab" aria-expanded="true">
                                    <i class="fa fa-server"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-3" data-toggle="tab" aria-expanded="true">
                                    <i class="fa fa-tasks"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#tab-4" data-toggle="tab" aria-expanded="true">
                                    <i class="fa fa-users r-pad-5"></i>
                                    Friends
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="right-notifier-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3><strong>Notifications</strong></h3>
                                        <small>
                                            You have 10 notifications
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-twitter fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                You have one new follower!
                                                <br/>
                                                <small>@deeTemplate is following you</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 11:26h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-facebook fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                You have one new friend!
                                                <br/>
                                                <small>Dee Admin Template is your friend</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 11:11h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-envelope fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                You have 4 new mails!
                                                <br/>
                                                <small>Go to webmail to read it</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 11:01h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-linkedin-square fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                Someone visited you professional profile!
                                                <br/>
                                                <small>Go to Linkedin and check-it</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:42h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-google-plus fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                You have been added to the Dee Circle!
                                                <br/>
                                                <small>Go to Google+ and check-it</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:31h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-facebook fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                You have 30 likes in your publication
                                                <br/>
                                                <small>Congratulations for the post!</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:21h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-spotify fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                Dee Admin Template follows your playlists
                                                <br/>
                                                <small>You listen amazing music!</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:20h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-paypal fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                You received 9.000,00$ in your account
                                                <br/>
                                                <small>Great job!</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:12h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-bitcoin fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                Bitcoin raises 410,00%
                                                <br/>
                                                <small>¿Time to sell?</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:10h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-dropbox fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-10 l-pad-10">
                                                DeeTemplate shared a file with you
                                                <br/>
                                                <small>Visit Dropbox to see content</small>
                                                <br/>
                                                <i>
                                                    <small>12/11/2022 10:02h</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="right-notifier-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3><strong>Server Statistics</strong></h3>
                                        <small>
                                            Actual server status
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="right-notifier-element">
                                        <h5><strong>Server status</strong></h5>

                                        <div class="progress">
                                            <div style="width: 45%;" aria-valuemax="100" aria-valuemin="0"
                                                 aria-valuenow="45" role="progressbar"
                                                 class="progress-bar progress-bar-info">Server load (45%)
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div style="width: 85%;" aria-valuemax="100" aria-valuemin="0"
                                                 aria-valuenow="85" role="progressbar"
                                                 class="progress-bar progress-bar-danger">Database requests (+85%)
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div style="width: 65%;" aria-valuemax="100" aria-valuemin="0"
                                                 aria-valuenow="65" role="progressbar"
                                                 class="progress-bar progress-bar-warning">Database connections (+65%)
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <h5><strong>Maintenance</strong></h5>
                                        <h6>Application server script progress</h6>

                                        <div class="progress progress-striped active progress-xs">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0"
                                                 aria-valuenow="90" role="progressbar"
                                                 class="progress-bar">
                                                <span class="sr-only">90%</span>
                                            </div>
                                        </div>
                                        <h6>Database maintenance progress</h6>

                                        <div class="progress progress-striped active progress-xs">
                                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0"
                                                 aria-valuenow="55" role="progressbar"
                                                 class="progress-bar">
                                                <span class="sr-only">55%</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <h5><strong>Server statistics</strong></h5>
                                        <h6>Traffic (last hour)</h6>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                132 requests
                                            </div>
                                            <div class="col-xs-6 to-right">
                                                <i class="fa fa-caret-up pad-h-5"></i>22.2%
                                            </div>
                                        </div>
                                        <h6>Average server response (last hour)</h6>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                100 ms
                                            </div>
                                            <div class="col-xs-6 to-right">
                                                <i class="fa fa-caret-up pad-h-5"></i>12.1%
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="right-notifier-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3><strong>Tasks</strong></h3>
                                        <small>
                                            You have 4 pending tasks
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="right-notifier-element">
                                        <input type="checkbox"/>&nbsp;&nbsp;
                                        Partner evaluation
                                        <br/>
                                        <i>
                                            <small>12/11/2022 10:00h</small>
                                        </i>
                                    </li>
                                    <li class="right-notifier-element">
                                        <input type="checkbox"/>&nbsp;&nbsp;
                                        Meeting at main office
                                        <br/>
                                        <i>
                                            <small>12/11/2022 10:30h</small>
                                        </i>
                                    </li>
                                    <li class="right-notifier-element">
                                        <input type="checkbox"/>&nbsp;&nbsp;
                                        Check sales status
                                        <br/>
                                        <i>
                                            <small>12/11/2022 11:00h</small>
                                        </i>
                                    </li>
                                    <li class="right-notifier-element">
                                        <input type="checkbox"/>&nbsp;&nbsp;
                                        Add new entrance to blog
                                        <br/>
                                        <i>
                                            <small>12/11/2022 17:00h</small>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="right-notifier-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3><strong>Friends</strong></h3>
                                        <small>
                                            Keep in contact with your friends
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-user fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Ronald C. Stevens
                                                <br/>
                                                <i class="fa fa-circle color-success r-pad-5"></i>
                                                <small>Online</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-facebook-color label-s">
                                        <i class="fa fa-facebook"></i>
                                    </span>
                                                <br/><i>
                                                    <small>Yesterday</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-fax fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Chanell W. Orcutt
                                                <br/>
                                                <i class="fa fa-circle color-success r-pad-5"></i>
                                                <small>Online</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-facebook-color label-s">
                                        <i class="fa fa-facebook"></i>
                                    </span>
                                                <br/><i>
                                                    <small>2 days ago</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-user fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Blake J. Gibson
                                                <br/>
                                                <i class="fa fa-circle color-success r-pad-5"></i>
                                                <small>Online</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-google-color label-s">
                                        <i class="fa fa-google-plus"></i>
                                    </span>
                                                <br/><i>
                                                    <small>last week</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-institution fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Laura E. Fagin
                                                <br/>
                                                <i class="fa fa-circle color-danger r-pad-5"></i>
                                                <small>Offline</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-twitter-color label-s">
                                        New
                                        <i class="fa fa-twitter"></i>
                                    </span>
                                                <br/><i>
                                                    <small>22 oct</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-user-md fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Bobby V. Becker
                                                <br/>
                                                <i class="fa fa-circle color-success r-pad-5"></i>
                                                <small>Online</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-linkedin-color label-s">
                                        <i class="fa fa-linkedin"></i>
                                    </span>
                                                <br/><i>
                                                    <small>11 dec</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-user fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Evelyn M. Drennon
                                                <br/>
                                                <i class="fa fa-circle color-success r-pad-5"></i>
                                                <small>Online</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-linkedin-color label-s">
                                        <i class="fa fa-linkedin"></i>
                                    </span>
                                                <br/><i>
                                                    <small>12 nov</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-male fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Jose S. Smith
                                                <br/>
                                                <i class="fa fa-circle color-danger r-pad-5"></i>
                                                <small>Offline</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-linkedin-color label-s">
                                        <i class="fa fa-linkedin"></i>
                                    </span>
                                                <br/><i>
                                                    <small>9 nov</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-female fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Melody M. Rooney
                                                <br/>
                                                <i class="fa fa-circle color-success r-pad-5"></i>
                                                <small>Online</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-instagram-color label-s">
                                        <i class="fa fa-instagram"></i>
                                    </span>
                                                <br/><i>
                                                    <small>3 days ago</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-notifier-element">
                                        <div class="row">
                                            <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                <i class="fa fa-user fa-3x opacity-25"></i>
                                            </div>
                                            <div class="col-xs-7 l-pad-10">
                                                Brenda J. Heenan
                                                <br/>
                                                <i class="fa fa-circle color-danger r-pad-5"></i>
                                                <small>Offline</small>
                                            </div>
                                            <div class="col-xs-3 to-right">
                                    <span class="label social-instagram-color label-s">
                                        <i class="fa fa-instagram"></i>
                                    </span>
                                                <br/><i>
                                                    <small>5 days ago</small>
                                                </i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include the container-header -->
        <div id="container-header" class="container-header">
            <component>container-header</component>
            <div class="row">
                <div class="col-md-12">
                    <h2>{% if page_title is defined %}{{ page_title }}{% endif %}</h2>
                </div>
            </div>
        </div>

        <div id="container-content" class="container-content">
            {% block body %}{% endblock %}

        </div>

        <!-- Include the container-footer -->
        <div id="container-footer" class="container-footer">
            <div class="container-fluid">
                <div class="row">
                    <component>container-footer</component>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        Service System Software © 2015-2016
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 to-right">
                        <i class="fa fa-code"></i>
                        <span>Version 1.2.0</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<a href="#" class="fa scrollup"></a>

{#<script async defer#}
        {#src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjr4ODu8IFUSfuKfRSCBroAf0M4P5tq7g&callback=initMap">#}
{#</script>#}
{% block javascripts %}
    {% javascripts
    '@TradeServeAppBundle/Resources/public/js/vendor/jquery.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/jquery-ui.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/bootstrap.min.js'
    '@TradeServeAppBundle/Resources/public/js/main.min.js'

    '@TradeServeAppBundle/Resources/public/js/loremizer.min.js'
    '@TradeServeAppBundle/Resources/public/js/panels.min.js'

    '@TradeServeAppBundle/Resources/public/js/deepassword.min.js'
    '@TradeServeAppBundle/Resources/public/js/demo/demo.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/toastr.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/pace.min.js'

    '@TradeServeAppBundle/Resources/public/js/vendor/metisMenu.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/jquery.slimscroll.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/lodash.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/moment.min.js'


    '@TradeServeAppBundle/Resources/public/js/vendor/jquery.peity.min.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/index.js'
    '@TradeServeAppBundle/Resources/public/js/vendor/Chart.min.js'
    '@TradeServeAppBundle/Resources/public/js/demo/demo-dashboard.js'

    '@TradeServeAppBundle/Resources/public/js/vendor/holder.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
