<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <!-- Include the title -->
    <title>Trade-Serve | log</title>

    <!-- Include the head -->
    <!-- Meta -->
    <meta name="description" content="Dee Admin Template Bootstrap">
    <meta name="keywords" content="admin,template,lightweight,dashboard,responsive,webapp,css3,html5,jquery,bootstrap">
    <meta name="author" content="trade-serve">
    <!-- / Meta -->

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- / Fonts -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/vendor/pace-theme-minimal.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/vendor/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/vendor/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/vendor/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/themes/theme-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/demo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tradeserveapp/styles/login.min.css') }}">
</head>
<body data-theme='default' style="background-image: url({{ asset('bundles/tradeserveapp/img/background.png') }});">
<div class="single-container login-screen animated fadeInDown">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>