//colors
$color_gray: #6e6e6e;
$color_white: #fff;
$color_green: #54d4ab;
$color_gallery_approx: #f0f0f0;
$color_tapa_approx: #757575;
$color_alto_approx: #dddcdc;
$color_cloud_approx: #c6c5c5;
$color_gravel_approx: #4a4a4a;
$color_black: #000;
$color_fuscous_gray_approx: #555555;
$color_nobel_approx: #b6b6b6;
$color_gray_approx: #828181;
$color_scarpa_flow_approx: #4f5963;
$color_red: #ff6456;

//fonts
$font_effra_light: effra-light;
$font_effra: effra;
$font_icons: FontAwesome;