@import 'variables';


.base-transition {
	background: none;
	color: $color_black;
	transition: all 0.3s ease-in-out 0s;
}


h1 {
	text-transform: uppercase;
	font-size: 18px;
	&.page-title {
		font-size: 18px;
		margin-bottom: 16px;
		text-transform: uppercase;
		padding-left: 15px;
	}
}
h2 {
	text-transform: uppercase;
	font-size: 16px;
}
h3 {
	text-transform: uppercase;
	font-size: 14px;
}
.row.group {
	margin-bottom: 20px;
}

table.borderless {
	tbody tr td, tbody tr th, thead tr th {
		border: none;
	}
}

.notification-counter {
	position: absolute;
	top: 7px;
	width: 17px;
	height: 17px;
	left: 20px;
	background-color: $color_green;
	color: $color_white;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	padding: 0 5px;
	font-size: 10px;
}
body {
	margin-bottom: 30px;
	background-color: $color_gallery_approx;
	color: $color_tapa_approx;
	font-family: $font_effra_light;
	font-size: 12px;
	&.nav-expanded {
		margin-left: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: right 0.4s ease-in-out 0s;
	}
	&.tab-expanded {
		margin-left: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: left 0.4s ease-in-out 0s;
	}
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	border-top: $color_alto_approx solid 1px;
	background-color: $color_gallery_approx;
	overflow: hidden;
	p {
		margin-top: 8px;
	}
}
nav {
	background-color: $color_white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 1px $color_cloud_approx;
	a {
		color: $color_gravel_approx;
	}
}
.nav-expanded {
	#user-menu-container {
		right: 0;
	}
	a.nav-expander.fixed {
	}
}
#user-menu-container {
	background: $color_fuscous_gray_approx;
	display: block;
	height: 100%;
	overflow: auto;
	position: fixed;
	right: -225px;
	font-size: 15px;
	top: 0;
	width: 225px;
	z-index: 2000;
	color: $color_white;
	padding: 0 20px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: right 0.3s ease-in-out 0s;
	.btn-close {
		margin: 8px 8px 0 0;
		color: $color_nobel_approx;
	}
	.user-info {
		margin-top: 25px;
		border-bottom: $color_gray_approx solid 1px;
		padding-bottom: 15px;
		img {
			margin-top: 0;
			margin-left: -20px;
		}
	}
}
.tab-content {
	left: -40%;
	width: 40%;
	position: fixed;
	top: 104px;
	z-index: 1000;
	min-height: 350px;
	padding-left: 20px;
	padding-right: 20px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: left 0.4s ease-in-out 0s;
}
.tab-expanded {
	.tab-content {
		left: 0;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 3px 3px 3px $color_nobel_approx;
	}
	#slide-tabs {
		left: 40%;
		li {
			&.active {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 3px 3px 3px $color_nobel_approx;
			}
			&:not(.active) {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 2px 2px 2px $color_nobel_approx, inset 3px 0 2px $color_nobel_approx;
				color: $color_gray_approx;
				a {
					color: $color_gray_approx;
				}
			}
		}
	}
}
#nav-close {
	font-weight: 300;
	font-size: 16px;
	position: absolute;
	top: -5px;
	right: -3px;
}
.user-menu {
	padding-top: 12px;
	li {
		font-size: 14px;
		padding: 12px;
		&:last-child {
			border-bottom: 0;
		}
		a {
			color: $color_white;
			text-decoration: none;
			&:hover {
				color: $color_white;
				text-decoration: none;
			}
		}
		.sub-nav {
			border-bottom: 0;
			padding: 4px;
		}
		> a {
			> span.icon {
				float: right;
				margin: 0.1em 1.7em -0.1em 0;
				opacity: 0;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s ease-in-out;
			}
			&:hover > span.icon {
				float: right;
				margin: 0.1em 0.8em -0.1em 0;
				opacity: 1;
			}
		}
		&.open > a {
			> .caret {
				border-top: none;
				border-bottom: 4px solid $color_scarpa_flow_approx;
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
			}
			&:hover > .caret {
				border-bottom-color: $color_scarpa_flow_approx;
			}
		}
	}
	a {
		.caret {
			width: 0;
			height: 0;
			display: inline-block;
			vertical-align: top;
			border-top: 4px solid $color_scarpa_flow_approx;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			content: "";
			margin-top: 8px;
		}
		&:hover .caret {
			border-top-color: $color_scarpa_flow_approx;
		}
	}
}
.user-profile {
	height: 30px;
	margin-top: 10px;
	padding: 0 10px;
}
#slide-tabs {
	position: absolute;
	top: 104px;
	left: 0;
	z-index: 1005;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: left 0.4s ease-in-out 0s;
	li {
		margin: 0 0 5px;
		background-color: $color_white;
		color: $color_fuscous_gray_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 2px 2px 2px $color_nobel_approx;
		a {
			font-size: 20px;
			padding: 20px;
			color: $color_fuscous_gray_approx;
			display: block;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 0.2s ease-in-out;
			&:hover {
				color: $color_white;
				background-color: $color_red;
			}
		}
	}
}
.input-group-btn .btn-default {
	border-left: 0;
}
ul.bordered {
	border-bottom: $color_gray_approx solid 1px;
	border-top: $color_gray_approx solid 1px;
	margin: 8px 0;
	padding: 4px 0;
}
div.box {
	background-color: $color_white;
	padding: 10px 15px;
}
.navbar-brand img {
	height: 30px;
	margin-top: -5px;
}
.nav > li > a {
	&:focus {
		@extend .base-transition;
	}
	&:hover {
		@extend .base-transition;
	}
}
.navbar-left a {
	text-transform: uppercase;
	font-family: $font_effra;
}
.icon:before {
	font-family: $font_icons;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	content: '\f107';
}
section#main-content {
	position: relative;
	top: 50px;
	left: 70px;
	margin-right: 70px;
}

#tbl-dispatch {
	margin-top:10px;
	border-collapse:separate;
  border-spacing:0 8px;
	tbody td {
		position: relative;
		width: 2%;
		&:not(:first-child) {
			border-left: solid 1px $color_gray_approx;
			&:after {
		    content: "";
		    display: block;
		    width: 1px;
		    height: 50%;
		    background-color: lighten($color_gray_approx, 20%);
		    position: absolute;
		    left: 50%;
		    bottom: 0;
			}
		}
	}
}

.chip {
	position:relative;
  width: 120%;
  height: 100%;
  display: table;
  margin: -8px;
  color: $color_white;
  padding: 3px 5px;
  z-index:100;
	&.green {
		background-color: rgba(82,212,171, 0.85);
	}
	&.7 {
		left:0;
	}
	&.8 {
		left: 10%;
	}
	&.9 {
		left: 15%;
	}
	&.13 {
		left: 25%;
	}
}